body {
    background-color: #13111C;
    color: #FDFAF6;
    font-family: 'Inter', 'sans-serif';
    line-height: 1.6;

}
a {
    color: inherit;
    text-decoration: none;
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #13111C;
    width: 100%;
    box-sizing: border-box;
}
nav ul {
    display: flex;
    list-style: none;
    gap: 24px;
}
#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    padding: 80px;
}
#hero.content {
    text-align: center;
}
.hero-content h1 {
    font-size: 6rem;
    font-family: 'Jost', 'serif';
    margin-bottom: 16px;
    font-weight: 700;
    color: #6B8CAE;
}
#typing {
  height: 2rem;
  color: #A85C5C;
}
.hero-content a {
    border: 1px solid #6B8CAE;
    color :#6B8CAE;
    padding : 12px 28px;
    border-radius: 4px;
    font-family: 'Inter', 'sans-serif';
    font-size: 0.9rem;
    letter-spacing: 2px;
}
.hero-content a:hover {
    background-color: #6B8CAE;
    color: #13111C;
}
#about {
    padding : 120px 10%;
    border-top: #2a2520;
}
.about-container {
    display: flex;
    gap : 80px;
}
.about-text {
    color: #7a7068;
    flex: 1;
}
.about-skills {
    flex: 1;

}
.about-skills ul {
    list-style: none;
}
    